In [1]:
data_1<-read.csv('peopleSample.csv')
head(data_1)

  X Sex Age Height Weight BMI Calories Moisture Protein  Saturated_fat ... Zn
1 0 0   19  140    31.4   16  1406.936  940.800 34.49600 140.6936      ... 12
2 1 0   19  141    31.8   16  1425.467  954.288 34.99056 142.5467      ... 12
3 2 0   19  142    32.3   16  1444.066  967.872 35.48864 144.4066      ... 12
4 3 0   19  143    32.7   16  1462.733  981.552 35.99024 146.2733      ... 12
5 4 0   19  144    33.2   16  1481.464  995.328 36.49536 148.1464      ... 12
6 5 0   19  145    33.6   16  1500.259 1009.200 37.00400 150.0259      ... 12
  P   VitaminA VitaminE VitaminB_group VitaminC Fatty_acid_S Fatty_acid_M
1 800 500      12       20.59          100      140.6936     84.41614
2 800 500      12       20.59          100      142.5467     85.52800
3 800 500      12       20.59          100      144.4066     86.64397
4 800 500      12       20.59          100      146.2733     87.76395
5 800 500      12       20.59          100      148.1464     88.88783
6 800 500      12       20.59          100      150.0259     90.01552
  Fatty_acid_P Cholesterol
1 12.66242     300
2 12.82920     300
3 12.99660     300
4 13.16459     300
5 13.33318     300
6 13.50233     300

In [2]:
data_1_select<-data_1[c(2,3,4,5,6)]
head(data_1_select)

  Sex Age Height Weight BMI
1 0   19  140    31.4   16
2 0   19  141    31.8   16
3 0   19  142    32.3   16
4 0   19  143    32.7   16
5 0   19  144    33.2   16
6 0   19  145    33.6   16

In [3]:
data_2<-read.csv('peopleSample_new.csv')
head(data_2)

  X Axis1    Axis2     Axis3    Axis4     Axis5     Axis6
1 1 8.288972 1.1766257 1.641035 -1.479860 -1.092101 -0.4957447
2 2 8.156877 1.1244301 1.662965 -1.402489 -1.087957 -0.4960440
3 3 8.022865 1.0711867 1.684411 -1.325642 -1.084925 -0.4966775
4 4 7.889885 1.0185680 1.706436 -1.248063 -1.080481 -0.4968717
5 5 7.755005 0.9649095 1.727973 -1.171015 -1.077160 -0.4974037
6 6 7.621174 0.9118839 1.750086 -1.093243 -1.072439 -0.4975001

In [4]:
data_index<-data_2[1]
head(data_index)

  X
1 1
2 2
3 3
4 4
5 5
6 6

In [5]:
data_2_select<-data_2[c(2,3,4,5,6,7)]
head(data_1_select)

  Sex Age Height Weight BMI
1 0   19  140    31.4   16
2 0   19  141    31.8   16
3 0   19  142    32.3   16
4 0   19  143    32.7   16
5 0   19  144    33.2   16
6 0   19  145    33.6   16

In [10]:
data_new<-cbind(data_index, data_1_select, data_2_select)
head(data_new)

  X Sex Age Height Weight BMI Axis1    Axis2     Axis3    Axis4     Axis5
1 1 0   19  140    31.4   16  8.288972 1.1766257 1.641035 -1.479860 -1.092101
2 2 0   19  141    31.8   16  8.156877 1.1244301 1.662965 -1.402489 -1.087957
3 3 0   19  142    32.3   16  8.022865 1.0711867 1.684411 -1.325642 -1.084925
4 4 0   19  143    32.7   16  7.889885 1.0185680 1.706436 -1.248063 -1.080481
5 5 0   19  144    33.2   16  7.755005 0.9649095 1.727973 -1.171015 -1.077160
6 6 0   19  145    33.6   16  7.621174 0.9118839 1.750086 -1.093243 -1.072439
  Axis6
1 -0.4957447
2 -0.4960440
3 -0.4966775
4 -0.4968717
5 -0.4974037
6 -0.4975001