In [1]:
import pandas as pd
import numpy as np

In [2]:
fc = pd.read_csv("feature_contribute4.csv")
# fc
fc = fc.T
fc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Unnamed: 0,Calories,Moisture,Protein,Saturated_fat,Carbohydrate,Dietary_fiber,Mg,Fe,Zn,VitaminA,VitaminB_group,Fatty_acid_S,Fatty_acid_M,Fatty_acid_P
Dim.1,7.72053,12.5308,12.3266,13.475,13.4751,0.0135338,0.0118511,0.0198992,0.00081212,0.00081212,0.00081212,13.475,13.475,13.4742
Dim.2,8.37185e-05,0.00222326,0.00448702,0.000719082,0.000719075,17.4732,17.8605,7.972,18.8946,18.8946,18.8946,0.000719082,0.000718922,0.000719278
Dim.3,7.90841,2.4825,3.89941,0.0248852,0.0248735,9.08133,5.46567,71.0147,0.00786776,0.00786776,0.00786776,0.0248852,0.024876,0.0248821
Dim.4,71.3693,7.75688,7.47245,0.032837,0.0328703,0.990063,0.466075,11.6377,0.0477309,0.0477309,0.0477309,0.032837,0.0329111,0.0328578

In [3]:
# fc.set_index(['Unnamed'])
t = fc[1:]
t = t/100
t = round(t,3)
nu_dim = np.array(t)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Dim.1,0.0772053,0.125308,0.123266,0.13475,0.134751,0.000135338,0.000118511,0.000198992,8.1212e-06,8.1212e-06,8.1212e-06,0.13475,0.13475,0.134742
Dim.2,8.37185e-07,2.22326e-05,4.48702e-05,7.19082e-06,7.19075e-06,0.174732,0.178605,0.07972,0.188946,0.188946,0.188946,7.19082e-06,7.18922e-06,7.19278e-06
Dim.3,0.0790841,0.024825,0.0389941,0.000248852,0.000248735,0.0908133,0.0546567,0.710147,7.86776e-05,7.86776e-05,7.86776e-05,0.000248852,0.00024876,0.000248821
Dim.4,0.713693,0.0775688,0.0747245,0.00032837,0.000328703,0.00990063,0.00466075,0.116377,0.000477309,0.000477309,0.000477309,0.00032837,0.000329111,0.000328578

In [4]:
# fi = pd.read_csv("dish_feature_importance.csv")
# fi.head()

In [5]:
result = pd.read_csv("people_kMeans_result4.csv")
# result
newResult=result[['median_A1','median_A2','median_A3','median_A4']]
newResult

   median_A1  median_A2  median_A3  median_A4
0  -0.357307  -2.367464   1.062625  -0.171494
1   0.906836   2.514380   0.170465   0.406621
2  -2.335249   2.491772  -0.248674  -0.852752
3   0.063098  -2.117830  -1.197250   0.531545

In [6]:
cluster_nutrition = newResult.dot(nu_dim)
cluster_nutrition

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.0659455,-0.0317488,-0.0155286,-0.0479562,-0.0479564,-0.318918,-0.365602,0.545856,-0.447325,-0.447325,-0.447325,-0.0479562,-0.0479564,-0.0479533
1,0.373699,0.149462,0.148926,0.122391,0.122391,0.458972,0.460399,0.369003,0.475298,0.475298,0.475298,0.122391,0.122391,0.122383
2,-0.808561,-0.364889,-0.361163,-0.315,-0.315001,0.404051,0.427199,-0.0776566,0.470366,0.470366,0.470366,-0.315,-0.315001,-0.314981
3,0.289547,0.0193692,0.000716512,0.00836386,0.0083642,-0.473508,-0.441207,-0.957184,-0.399996,-0.399996,-0.399996,0.00836386,0.00836437,0.00836348

In [7]:
clu_nu_df = pd.DataFrame(cluster_nutrition)
# clu_nu_df[[0]]
clu_nu_df.to_csv('people_clusterNu_df.csv')

In [8]:
# c = ["Calories","Moisture","Protein","Saturated_fat","Carbohydrate","Dietary_fiber","Mg","Fe","Zn","VitaminA","VitaminB_group","Fatty_acid_S","Fatty_acid_M","Fatty_acid_P"]
# i = ['Cluster1','Cluster2','Cluster3','Cluster4','Cluster5','Cluster6','Cluster7']
# # clusterNu_df = pd.DataFrame(clu_nu_df,columns = c, index = i)
# clusterNu_df = pd.DataFrame(columns = c, index = i)
# clusterNu_df['Calories']=clu_nu_df[[0]]
# # for tt in c:
# #     n = 0
# #     clusterNu_df[tt]=clu_nu_df[[n]]
# #     n+=1

    
# clusterNu_df