In [1]:
data_1<-read.csv('peopleSample2.csv')
head(data_1)

  X Sex Age Height Weight BMI Calories Moisture Protein Saturated_fat ... Zn
1 0 0   19  140    31.4   16  1408.4    942     34.5    140.8         ... 12
2 1 0   19  141    31.8   16  1425.1    954     35.0    142.5         ... 12
3 2 0   19  142    32.3   16  1445.4    969     35.5    144.5         ... 12
4 3 0   19  143    32.7   16  1462.1    981     36.0    146.2         ... 12
5 4 0   19  144    33.2   16  1482.3    996     36.5    148.2         ... 12
6 5 0   19  145    33.6   16  1498.8   1008     37.0    149.9         ... 12
  P   VitaminA VitaminE VitaminB_group VitaminC Fatty_acid_S Fatty_acid_M
1 800 500      12       20.59          100      140.8        84.5
2 800 500      12       20.59          100      142.5        85.5
3 800 500      12       20.59          100      144.5        86.7
4 800 500      12       20.59          100      146.2        87.7
5 800 500      12       20.59          100      148.2        88.9
6 800 500      12       20.59          100      149.9        89.9
  Fatty_acid_P Cholesterol
1 12.7         300
2 12.8         300
3 13.0         300
4 13.2         300
5 13.3         300
6 13.5         300

In [2]:
data_1_select<-data_1[c(2,3,4,5,6)]
head(data_1_select)

  Sex Age Height Weight BMI
1 0   19  140    31.4   16
2 0   19  141    31.8   16
3 0   19  142    32.3   16
4 0   19  143    32.7   16
5 0   19  144    33.2   16
6 0   19  145    33.6   16

In [3]:
data_2<-read.csv('peopleSample_new.csv')
head(data_2)

  X Axis1    Axis2     Axis3     Axis4
1 1 6.729464 -2.307124 0.7245930 -1.1540882
2 2 6.610950 -2.308079 0.7359570 -1.1226211
3 3 6.460956 -2.309262 0.7510581 -1.0834615
4 4 6.330352 -2.310305 0.7629417 -1.0525914
5 5 6.192544 -2.311400 0.7774256 -1.0131281
6 6 6.062321 -2.312441 0.7891059 -0.9828352

In [4]:
data_index<-data_2[1]
head(data_index)

  X
1 1
2 2
3 3
4 4
5 5
6 6

In [7]:
data_2_select<-data_2[c(2,3,4,5)]
head(data_2_select)

  Axis1    Axis2     Axis3     Axis4
1 6.729464 -2.307124 0.7245930 -1.1540882
2 6.610950 -2.308079 0.7359570 -1.1226211
3 6.460956 -2.309262 0.7510581 -1.0834615
4 6.330352 -2.310305 0.7629417 -1.0525914
5 6.192544 -2.311400 0.7774256 -1.0131281
6 6.062321 -2.312441 0.7891059 -0.9828352

In [8]:
data_new<-cbind(data_index, data_1_select, data_2_select)
head(data_new)

  X Sex Age Height Weight BMI Axis1    Axis2     Axis3     Axis4
1 1 0   19  140    31.4   16  6.729464 -2.307124 0.7245930 -1.1540882
2 2 0   19  141    31.8   16  6.610950 -2.308079 0.7359570 -1.1226211
3 3 0   19  142    32.3   16  6.460956 -2.309262 0.7510581 -1.0834615
4 4 0   19  143    32.7   16  6.330352 -2.310305 0.7629417 -1.0525914
5 5 0   19  144    33.2   16  6.192544 -2.311400 0.7774256 -1.0131281
6 6 0   19  145    33.6   16  6.062321 -2.312441 0.7891059 -0.9828352

In [9]:
write.csv(data_new,"peopleSample4_combind.csv", row.names = TRUE)